---
import Base from '@layouts/Base.astro'
import PastUpcoming from '@components/event/PastUpcoming.astro'
import { getFuture, getPast } from '@util/events'
import { events } from '@data/collections'
const {entry } = Astro.props
---
<Base {entry}>
  <div class="w-100 w-30-l">
    <PastUpcoming future={getFuture(events)} past={getPast(events)} />
  </div>
</Base>