@font-face{
  font-family:Stag Book;
  font-style:normal;
  font-weight:400;
  src:local("Stag Book"),local("Stag-Book"),url(/fonts/Stag-Book.otf)format("vnd.oasis.opendocument.formula-template")
}
@font-face{
  font-family:Work Sans;
  font-style:normal;
  font-weight:400;
  src:local("Work Sans"),local("Work-Sans"),url(/fonts/WorkSans-Regular.woff)format("woff"),url(/fonts/WorkSans-Regular.woff2)format("woff2")
}
@font-face{
  font-family:Work Sans;
  font-style:normal;
  font-weight:500;
  src:local("Work Sans"),local("Work-Sans"),url(/fonts/WorkSans-Medium.woff)format("woff"),url(/fonts/WorkSans-Medium.woff2)format("woff2")
}
@font-face{
  font-family:Work Sans;
  font-style:normal;
  font-weight:600;
  src:local("Work Sans"),local("Work-Sans"),url(/fonts/WorkSans-SemiBold.woff)format("woff"),url(/fonts/WorkSans-SemiBold.woff2)format("woff2")
}
@font-face{
  font-family:JeanLuc;
  font-weight:600;
  src:local("JeanLuc"),url(/fonts/jeanlucweb-bold.woff)format("woff")
}
