---
import contact from "@data/forms/contact"
import Title from "@components/Title.astro";
import Prose from "@components/Prose.astro";
import PackageForm from "@forms/components/Form.astro"
const { block, block: { title, copy }, ...rest } = Astro.props
---
<style>
  .astro-tnd-forms .astro-tnd-forms-input{
    @apply border-black block w-full py-1 px-2;
  }
  .astro-tnd-forms .astro-tnd-forms-label{
    @apply font-bold uppercase mb-2 block;
  }
</style>
<div class="md:px-8 py-16">
  <div class="mb-4"><Title theme="underline" classes="border-c-purple">{title}</Title></div>
  <div class:list={[
    "wrapper",
    "grid md:grid-cols-2",
  ]}>
    {!!copy && (
      <div class="max-w-lg">
        <div class="prose font-serif md:pr-8">
          <Prose text={copy} />
        </div>
      </div>
    )}
    <div class="mt-8 md:mt-0">
      <PackageForm form={contact} />
    </div>
  </div>
</div>