---
import Button from "@components/Button.astro";
import Image from "@components/Image.astro";
import Prose from "@components/Prose.astro";
const { entry, entry: { body, image} } = Astro.props
---
<div class="max-w-5xl mx-auto py-12">
  <div class="md:flex justify-between">
    {image && (
      <div class="w-full md:w-[55%]">
        <Image {image} width="800" />
      </div>
    )}
    {body && (
      <div class="w-full md:w-[40%] p-8 md:p-0">
        <div class="prose font-serif">
          <Prose text={body} />
        </div>

        <div class="theme-green mt-8">
          <Button copy="Learn More" url="/about" />
        </div>
      </div>
    )}
  </div>
</div>
