---
import Default from '@components/blocks/Default.astro'
import BlockText from '@components/blocks/Text.astro'
import BlockSection from '@components/blocks/Section.astro'
import { prepareBlocks } from '@util/helpers'
const { page, wrapperClass } = Astro.props
let { blocks, variant = "default" } = Astro.props
blocks = prepareBlocks(blocks, variant).map((block, index) => {
  let Component = Default
  switch (block.layout) {
    case "posts":
      Component = BlockPosts
      break;
    case "text":
      Component = BlockText
      break;
    case "section":
      Component = BlockSection
      break;
    default:
      break;
  }
  return {
    ...block,
    Component,
  }
})

---
{blocks.map(block => (
  <div class={`alt-wrapper my-4 md:my-0 ` + wrapperClass}>
    <block.Component {block} {page} />
  </div>
))}