---
import site from '@data/site'
import { main } from '@data/menus'
import Follow from '@components/socials/Follow.astro'
---
<header>
  <div class="px-2 py-3 bg-white lg:py-5 lg:px-6 md:p-4">
    <nav class="flex items-center justify-between mx-auto max-w-[83rem] font-brand" role="navigation">
  
      {/* left */}
      <div class="flex items-center w-1/3">
        {site.title}
      </div>
  
      {/* center */}
      <div class="flex items-center justify-center w-1/3 text-black">
        <ul class="hidden lg:inline-block">
          {main.map(({url, copy}) => (
            <li class="block text-base md:inline-block sm:text-base">
              <a class="color-inherit lowercase transition-colors duration-500 ease-in-out hover:text-gray-400 no-underline px-4" href={url} title={copy}>
                {copy}
              </a>
            </li>
          ))}
        </ul>
      </div>
  
      {/* right */}
      <div class="flex items-center justify-end w-1/3 text-gray-500">
        <Follow />
      </div>
    </nav>
  </div>
</header>