---
const { links } = Astro.props
import Button from "./Button.astro";
---
<div class="not-prose">
  {!!links.length && (
    <ul class="md:flex -mx-4 my-4">
      {links.map(({copy, url})=> (
        <li>
          <div class="px-4 mb-2">
            <Button {copy} {url} />
          </div>
        </li>
      ))}
    </ul>
  )}
</div>