---
import Image from '@components/Image.astro'
import Title from '@components/Title.astro'
const { entry, entry: { title, full_name, image, job_title } } = Astro.props
---

<div>
  {image && (
    <Image {image} params={{width: 400}} classes="img mb-2 mr-2" />
  )}
  {full_name && (
    <Title theme="small">{full_name}</Title>
  )}
  {job_title && (
    <div class="font-serif text-c-green-400">{job_title}</div>
  )}
</div>