---
const { entry, entry: { title, url, body, persons, hero} } = Astro.props
import Base from '@layouts/Base.astro'
import Prose from '@components/Prose.astro'
import Li from "@components/person/Li.astro"
import Title from '@components/Title.astro'
const featured = persons && persons.length > 1 && persons.slice(0, 2)
const rest = persons && persons.length > 2 && persons.slice(2)
---
<Base {entry} >
  <div class="max-w-[83rem] mx-auto px-4 md:px-8">
    {body && (
    <article class="py-4 md:py-8 flex">
      <div class="min-w-[50%] mx-auto text-lg prose font-serif no-underline text-gray-700">
        <Prose text={body} />
      </div>
      {featured && (
        <div class="grid grid-cols-2 gap-3 shrink-0 md:ml-16 w-[40%]">
          {featured.map(entry => (<Li {entry} />))}  
        </div>
      )}
      <div>
      </div>
    </article>
    )}
    {rest && (
      <Title theme="underline">Staff</Title>
      <section class="my-8 gap-3 grid sm:grid-cols-2 md:grid-cols-5">
        {rest.map( entry => (
          <Li {entry} />
        ))}
      </section>
    )}
  </div>
</Base>