---
const { entry, entry: { title, url, blocks, hero, home = false} } = Astro.props
import Base from '@layouts/Base.astro'
import Blocks from '@components/Blocks.astro';
import Slider from '@components/Slider.astro';
import Intro from '@components/home/Intro.astro';

---
<Base {entry} >
  {hero && hero.images && (
    <Slider images={hero.images}/>
  )}
  {!!home && (
    <Intro {entry} />
  )}
  <div class="w-full px-4 pb-32">
    <Blocks {blocks} />
  </div>
</Base>