---
const { entry, entry: { title, url, blocks, hero} } = Astro.props
import Base from '@layouts/Base.astro'
import Blocks from '@components/Blocks.astro';
import Slider from '@components/Slider.astro';

---
<Base {entry} >
  {hero && hero.images && (
    <Slider images={hero.images}/>
  )}

  <div class="w-full p-4">
    <Blocks {blocks} />
  </div>
</Base>